body {
  background: #ddd;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

.cart {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.333rem;
}

ul.cart {
  list-style-type: none;
  padding: 0;
}

.cart li {
  margin: 10px 0;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.cart li a {
  display: inline-block;
  text-decoration: none;
  margin: 0 5px;
  width: 20px;
  text-align: center;
  color: black;
  background: white;
  cursor: pointer;
}

.cart li .action:active {
  color: black;
  transform: scale(0.8);
  transition: 0.1s linear;
  
}
